{% extends "cytology/wrapper.html" %}
{% load bootstrap5 %}

{% block content %}
<h6 class="text-muted text-uppercase">
  <span>Найдено за указанную неделю (Неделя {{ week|date:'W' }}):</span>
</h6>

{% include 'cytology/object_list.html' %}

<p>
    {% if previous_week %}
        Previous Week: {{ previous_week|date:"W" }} of year {{ previous_week|date:"Y" }}
    {% endif %}
    {% if previous_week and next_week %}--{% endif %}
    {% if next_week %}
        Next week: {{ next_week|date:"W" }} of year {{ next_week|date:"Y" }}
    {% endif %}
</p>

{% endblock %}