{% extends "cytology/wrapper.html" %}
{% load bootstrap5 %}

{% block content %}


<h5>{{ object.code}} | Исследование №{{ object.reg }}
            {% if not object.a_date %}
            <span class="badge rounded-pill bg-warning text-dark">не завершено</span>
            {% else %}
            от {{ object.a_date }}
            {% endif %}
</h5>
<table class="table table-hover table-sm">
    <tbody>
    <tr>
        <td>Отделение:</td><td>{{ object.otdelen}} ({{ object.doctor}})</td>
    </tr>
    <tr {% if object.get_age < 16 %} class="table-info" {% endif %}>
        <td>ПАЦИЕНТ:</td>
        <td>{{ object.last_name}}
            {{ object.first_name}}
            {{ object.middle_name}},
            {{ object.get_gender }}.,

            {% if object.get_age %}
            {{ object.get_age }} лет,
            {% endif %}

            {% if object.p_date %} дата поступления {{ object.p_date|date:"d/m/y" }}.{% endif %}
        </td>
    </tr>

    <tr>
        <td>АДРЕС:</td>
        <td>
            {% if object.address %}
            {{ object.address }}
            {% else %}
            <span class="badge rounded-pill bg-warning text-dark">нет данных!</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>МКБ, диагноз
            </td>
        <td>
            {% if not object.code1 %}
            <span class="badge rounded-pill bg-warning text-dark">код не указан</span>
            {% else %}
            {{ object.code1 }}
            {% endif %}
            ({{ object.kl_diag }})</td>
    </tr>
    <tr>
        <td>ОБЪЕКТ:</td><td>{{ object.an_object }}</td>
    </tr>
    <tr>
        <td>ДАТА ВЗЯТ:</td>
        <td>{{ object.v_date }}</td>
    </tr>
    <tr>
        <td>МАКРО:</td><td>{{ object.macro }} (п/а {{ object.macro_p_a}})</td>
    </tr>
    {% if object.micro %}
    <tr>
        <td>МИКРО:</td><td>{{ object.micro }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>ЗАКЛ:</td><td>
        {% if not object.zakl %}
            <span class="badge rounded-pill bg-warning text-dark">нет данных!</span>
        {% else %}
            {{ object.zakl }}<br>(п/а: {{ object.p_a}})</td>
        {% endif %}
    </tr>

    </tbody>

</table>

{% if object.comment %}
<p>КОММЕНТ: {{ object.comment}}</p>
{% endif %}

<a class ="print-doc noprint" href="javascript:(print());">
    <button type="button" class="btn btn-sm btn-outline-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
          <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
          <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
        </svg>&nbsp;
        Распечатать
    </button>
</a>

{% endblock %}