{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>
        {% block title %}
            Цитология: {{ title }}
        {% endblock %}
    </title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4 fw-lighter">&nbsp;CYT</span>
            <div class="fs-4 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="cell" viewBox="0 0 33 30">
                    <g>
                        <path d="M15.913,0C7.138,0,0,7.139,0,15.913c0,8.774,7.138,15.913,15.913,15.913c8.776,0,15.913-7.139,15.913-15.913
                            C31.826,7.139,24.689,0,15.913,0z M15.913,29.294c-7.379,0-13.38-6.002-13.38-13.381c0-7.377,6.001-13.38,13.38-13.38
                            c7.379,0,13.381,6.003,13.381,13.38C29.294,23.292,23.292,29.294,15.913,29.294z"/>
                        <circle cx="21.332" cy="17.888" r="3.874"/>
                        <circle cx="12.699" cy="7.868" r="2.877"/>
                        <circle cx="9.607" cy="17.493" r="3.479"/>
                        <circle cx="15.714" cy="24.333" r="1.466"/>
                        <circle cx="21.941" cy="9.898" r="1.583"/>
                        <circle cx="16.178" cy="13.885" r="1.341"/>
                    </g>
                </svg>
            </div>
            <span class="fs-4">Logy</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'cytology:home' %}" class="nav-link" aria-current="page">К началу</a></li>
            <li class="nav-item"><a href="{% url 'cytology:list' %}" class="nav-link">Весь список</a></li>

          {% if user.is_authenticated %}
              <li class="nav-item"><a href="/admin/" class="nav-link">Адм.панель</a></li>
              <li class="nav-link">
                  <span class="badge rounded-pill bg-primary">
                     Вы вошли как: {{ user.first_name }} {{ user.last_name }}
                  </span>
              </li>
              <li class="nav-link link-secondary"><a href="{% url 'logout' %}">Выйти</a></li>
          {% else %}

              <a href="{% url 'login' %}" class="nav-link active">Войти</a>
          {% endif %}

          </ul>
        </header>
    </div>

    <div class="container">

        {% block content %}

        {% endblock %}</div>
{% include 'cytology/footer.html' %}

{% bootstrap_javascript %}
</body>
</html>