<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet"  media = "screen, print">
  </head>
  <body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow noprint">

  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'cytology:home' %}">
    Цит<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="cell" viewBox="0 0 33 30">
        <g>
            <path d="M15.913,0C7.138,0,0,7.139,0,15.913c0,8.774,7.138,15.913,15.913,15.913c8.776,0,15.913-7.139,15.913-15.913
                C31.826,7.139,24.689,0,15.913,0z M15.913,29.294c-7.379,0-13.38-6.002-13.38-13.381c0-7.377,6.001-13.38,13.38-13.38
                c7.379,0,13.381,6.003,13.381,13.38C29.294,23.292,23.292,29.294,15.913,29.294z"/>
            <circle cx="21.332" cy="17.888" r="3.874"/>
            <circle cx="12.699" cy="7.868" r="2.877"/>
            <circle cx="9.607" cy="17.493" r="3.479"/>
            <circle cx="15.714" cy="24.333" r="1.466"/>
            <circle cx="21.941" cy="9.898" r="1.583"/>
            <circle cx="16.178" cy="13.885" r="1.341"/>
        </g>
        </svg>логия</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-control form-control-dark w-100 rounded-0 border-0"
        action="{% url 'cytology:search_results' %}"
        method="get">
    <input class="form-control form-control-dark w-100 rounded-0 border-0" name="q"
           type="text" placeholder="Поиск по фамилии" aria-label="Поиск по фамилии">
  </form>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      {% if user.is_authenticated %}

      <a class="nav-link px-3" href="{% url 'logout' %}">{{ user.first_name }} {{ user.last_name }} [Выход]</a>
      {% else %}
      <a class="nav-link px-3" href="{% url 'login' %}">Вход</a>
      {% endif %}
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse noprint">
      <div class="position-sticky pt-5 noprint">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cytology:home' %}">
              Последние 10
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cytology:list' %}">
              Все
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Настройки</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/admin/">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Панель администратора
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <!--h1 class="h2">Исследования</h1-->
      </div>

      <div id="content">
      {% block content %}
      <h2>B</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>text</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>placeholder</td>
              <td>irrelevant</td>
              <td>visual</td>
              <td>layout</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>data</td>
              <td>rich</td>
              <td>dashboard</td>
              <td>tabular</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>information</td>
              <td>placeholder</td>
              <td>illustrative</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>text</td>
              <td>random</td>
              <td>layout</td>
              <td>dashboard</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>dashboard</td>
              <td>irrelevant</td>
              <td>text</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>dashboard</td>
              <td>illustrative</td>
              <td>rich</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>placeholder</td>
              <td>tabular</td>
              <td>information</td>
              <td>irrelevant</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>text</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>placeholder</td>
              <td>irrelevant</td>
              <td>visual</td>
              <td>layout</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>data</td>
              <td>rich</td>
              <td>dashboard</td>
              <td>tabular</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>information</td>
              <td>placeholder</td>
              <td>illustrative</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>text</td>
              <td>placeholder</td>
              <td>layout</td>
              <td>dashboard</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>dashboard</td>
              <td>irrelevant</td>
              <td>text</td>
              <td>visual</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>dashboard</td>
              <td>illustrative</td>
              <td>rich</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>random</td>
              <td>tabular</td>
              <td>information</td>
              <td>text</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endblock %}
      </div>

    </main>
  </div>
</div>

</nav>

{% bootstrap_javascript %}

  </body>
</html>
